# Login local du dashboard personnel
ADMIN_EMAIL=matthieu@example.com
ADMIN_PASSWORD=change-moi
SESSION_SECRET=change-moi-en-production

# Statistiques Pokémon GO API
POKEMON_API_URL=https://pokemon-go-7r5q2j05a-matthieu-vachets-projects.vercel.app/api/checklist-v3

# Admin Pokémon GO
POKEMON_GO_DATA_DIR=../PokemonGo-Data
POKEMON_GO_DATA_REPO=https://github.com/Matthieu-Vachet/PokemonGo-Data.git
POKEMON_GO_DATA_REF=main
# Obligatoire sur Vercel si le repo PokemonGo-Data est privé
POKEMON_GO_DATA_TOKEN=
